
{% extends "bootstrap/base.html" %}
{% block navbar %}
<nav class="navbar navbar-dark bg-primarye">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Basket Stats</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Players</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/leaders">Leaders</a></li>
          </ul>
        
        </div>
      </nav>
{%endblock%}


