{% extends "base.html" %}

{% block content %}
<h1>2018-2019 Season Leaders</h1>
<div class="col-xs-2">
    <h2 class="sub-header">Subtitle</h2>
      <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="col-md-1">Player</th>
                      <th class="col-md-2">Team</th>
                      <th class="col-md-3">Header</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-md-1">1,001</td>
                      <td class="col-md-2">1,001</td>
                      <td class="col-md-3">1,001</td>
                    </tr>
                    <tr>
                      <td class="col-md-1">1,001</td>
                      <td class="col-md-2">1,001</td>
                      <td class="col-md-3">1,001</td>
                    </tr>
                     <tr>
                      <td class="col-md-1">1,001</td>
                      <td class="col-md-2">1,001</td>
                      <td class="col-md-3">1,001</td>
                    </tr>
                  </tbody>
                </table>
              </div>
    </div>
{% endblock %}